BASE_URL=""
DATABASE_URL=""

# username and password admin
ADMIN_USERNAME=""
ADMIN_PASSWORD=""


#On Vercel deployments, we will read the VERCEL_URL environment variable, so you won't need to define NEXTAUTH_URL.
NEXTAUTH_URL=""

# You can generate a secret using `openssl rand -base64 32`
NEXTAUTH_SECRET=""

COMMIT_API="